<div class="row">
  <div class="col-lg-7 col-md-12 col-xs-12">
  <div class="box box-danger">
    <div class="box-header with-border">
      <i class="fa fa-table"></i>
      <h3 class="box-title">Residual Lifetime Rank</h3>
    </div>
    <!-- /.box-header -->

      <div class="box-body">
        <div class="table-responsive">
        <table class="table table-striped table-condensed table-hover ">
          <thead>
          <tr>
            <th>Id</th>
            <th>Location</th>
            <th style="text-align: center">Consumption</th>
            <th style="text-align: center">Residual Lifetime</th>
          </tr>
          </thead>
          <tbody>
          <tr  ng-repeat="lamp in ctrl.rankData">
            <td>{{lamp.lampId}}</td>
            <td>{{lamp.address}}</td>
            <td style="text-align: center">{{lamp.consumption}}%</td>
            <td style="text-align: center">{{lamp.residualLifeTime}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      </div>
    <div class="box-footer">
    </div>
    </div>
  </div>



  <div class="col-lg-5 col-md-12 col-xs-12">

    <div class="box box-danger">
      <div class="box-header with-border">
        <i class="fa fa-map"></i>

        <h3 class="box-title">Lamps Map</h3>

      </div>
      <div class="box-body">
        <div map-lazy-load="https://maps.google.com/maps/api/js">


          <ng-map default-style="true" center="41.890841, 12.493261" zoom="15">
            <marker  id='{{lamp.lampId}}' position="{{lamp.position}}"
                    ng-repeat="lamp in ctrl.lamps"
                    on-click="ctrl.showDetail(lamp)">
            </marker>

            <info-window id="foo-iw" >
              <div ng-non-bindable="">
                id: {{ctrl.lamp.lampId}}<br/>
                Address: {{ctrl.lamp.address}}<br/>
                Position : {{ctrl.lamp.position}}<br/>
              </div>
            </info-window>
          </ng-map>
        </div>
      </div>
      <div class="box-footer">
        <button class="btn btn-xs btn-flat btn-danger pull-right" ng-click="ctrl.showDetail(e, ctrl.lamp)" style="margin-left:5px;">
          Show
        </button>
        <button class="btn btn-xs btn-flat btn-danger pull-right" ng-click="ctrl.hideDetail(e, ctrl.lamp)">
          Hide
        </button>
      </div>
    </div>


  </div>


</div>



