<div class="row">
  <div class="col-lg-12">
  <div class="box box-danger">
    <div class="box-header">
      <h3 class="box-title">Lamps Table</h3>
      <hr>
      <div class="row">
        <div class="col-xs-6"><label>Select </label>

          <select style="width:50px;height:30px;display:inline;"
                  ng-options="entry for entry in ctrl.entries"
                  ng-model="ctrl.show">
          </select>


        <label> entries</label></div>
        <div class="col-lg-6"><span class="pull-right"><input ng-model="ctrl.searchText" placeholder="Search..." ></span></div>
      </div>
    </div>
    <!-- /.box-header -->

      <div class="box-body">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>Id</th>
            <th>Location</th>
            <th>Model</th>
            <th>Power Consumption</th>
            <th>State</th>
            <th>Ligh Intensity</th>
            <th>Substitution Date</th>
          </tr>
          </thead>
          <tbody>
          <tr style="cursor:pointer;" ng-repeat="lamp in ctrl.dataset | filter:ctrl.searchFilter | limitTo: ctrl.show" ng-class="{'selected': ctrl.selected.indexOf($index) > -1}"
          ng-click="ctrl.select($index)">
            <td>{{lamp.id}}</td>
            <td>{{lamp.location.address}}, &lt;{{lamp.location.gps_coordinate.latitude}},{{lamp.location.gps_coordinate.longitude}}&gt;</td>
            <td>{{lamp.model}}</td>
            <td>{{lamp.power_consumption}}%</td>
            <td ng-if="lamp.state_on">On</td>
            <td ng-if="!lamp.state_on">Off</td>
            <td>{{lamp.light_intensity}}%</td>
            <td>{{lamp.substitution_date}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    <div class="box-footer">
      <div class="row">
        <div class="col-lg-5">
          Showing {{ctrl.shift+1}} to {{ctrl.shift+ctrl.show}} of {{ctrl.data.length}} entries
        </div>
        <div class="col-lg-7">
                <span class="pull-right">
          <div paging
               page="ctrl.currentPage"
               page-size="ctrl.show"
               total="ctrl.data.length"
               paging-action="ctrl.pagingAction(page, pageSize)">
          </div>
        </span>

        </div>

      </div>
    </div>
    </div>
  </div>


</div>

