<div class="row">
  <div class="col-lg-7 col-md-12 col-xs-12">
  <div class="box box-danger">
    <div class="box-header with-border">
      <i class="fa fa-table"></i>
      <h3 class="box-title">Residual Lifetime Rank</h3>
    </div>
    <!-- /.box-header -->

      <div class="box-body">
        <div class="table-responsive">
        <table class="table table-striped table-condensed table-hover ">
          <thead>
          <tr>
            <th>Id</th>
            <th>Location</th>
            <th style="text-align: center">Consumption</th>
            <th style="text-align: center">Residual Lifetime</th>
          </tr>
          </thead>
          <tbody>
          <tr  ng-repeat="lamp in ctrl.rankData">
            <td>{{lamp.lampId}}</td>
            <td>{{lamp.address}}</td>
            <td style="text-align: center">{{lamp.consumption}}%</td>
            <td style="text-align: center">{{lamp.residualLifeTime}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      </div>
    <div class="box-footer">
    </div>
    </div>
  </div>



  <div class="col-lg-5 col-md-12 col-xs-12">

    <div class="box box-danger">
      <div class="box-header with-border">
        <i class="fa fa-map"></i>

        <h3 class="box-title">Lamps Map</h3>

      </div>
      <div class="box-body">
        <div map-lazy-load="https://maps.google.com/maps/api/js">


          <ng-map default-style="true" center="41.9100711,12.5359979" zoom="12">
            <marker id='{{shop.id}}' position="{{shop.position}}"
                    ng-repeat="shop in ctrl.shops"
                    on-click="ctrl.showDetail(shop)">
            </marker>

            <info-window id="foo-iw">
              <div ng-non-bindable="">
                id: {{ctrl.shop.id}}<br/>
                name: {{ctrl.shop.name}}<br/>
                Position 1: {{ctrl.shop.position}}<br/>
                Position 2: {{anchor.getPosition()}}<br/>
                Position 3: {{ctrl.map.markers[ctrl.shop.id].getPosition()}}<br/>
                <a href="#" ng-click="ctrl.clicked()">Click Here</a>
              </div>
            </info-window>
          </ng-map>
        </div>
      </div>
      <div class="box-footer">
        <button class="btn btn-xs btn-flat btn-danger pull-right" ng-click="ctrl.showDetail(e, ctrl.shop)" style="margin-left:5px;">
          Show
        </button>
        <button class="btn btn-xs btn-flat btn-danger pull-right" ng-click="ctrl.hideDetail(e, ctrl.shop)">
          Hide
        </button>
      </div>
    </div>


  </div>


</div>

<!--<div class="row">
  <div class="col-lg-12">

    <div class="box box-danger">
      <div class="box-header with-border">
        <div class="row">
          <div class="col-lg-6 col-md-8 col-sm-8 col-xs-12">
            <i class="fa fa-area-chart"></i>
            <h3 class="box-title">Real-Time Consumption Chart</h3>
          </div>
          <div class="col-lg-6 col-sm-4 col-md-4 col-xs-12">
            <div class="box-tools pull-right">
              Real time
              <div class="btn-group" id="realtime" data-toggle="btn-toggle">
                <button type="button" class="btn btn-default btn-xs " ng-class="{'active':ctrl.update}" ng-click="ctrl.switch()">On</button>
                <button type="button" class="btn btn-default btn-xs" ng-class="{'active':!ctrl.update}" ng-click="ctrl.switch()">Off</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="box-body">
        <div style="height: 300px; padding: 0px; position: relative;">
          <flot dataset="ctrl.dataset" options="ctrl.options"></flot>

        </div>
      </div>
    </div>


  </div>
</div>
<div class="row">



</div>

<script>$('flot > div');</script>

&lt;!&ndash; jQuery 2.2.3 &ndash;&gt;
<script src="../../scripts/plugins/jQuery/jquery-2.2.3.min.js"></script>
&lt;!&ndash; FLOT CHARTS &ndash;&gt;
<script src="../../scripts/plugins/flot/jquery.flot.min.js"></script>
&lt;!&ndash; FLOT RESIZE PLUGIN - allows the chart to redraw when the window is resized &ndash;&gt;
<script src="../../scripts/plugins/flot/jquery.flot.resize.min.js"></script>
&lt;!&ndash; FLOT PIE PLUGIN - also used to draw donut charts &ndash;&gt;
<script src="../../scripts/plugins/flot/jquery.flot.pie.min.js"></script>
&lt;!&ndash; FLOT CATEGORIES PLUGIN - Used to draw bar charts &ndash;&gt;
<script src="../../scripts/plugins/flot/jquery.flot.categories.min.js"></script>-->


